$primary: #80a29e;
$secondary: #80a29e;
$black: #101010;
$black-1: #222222;
$white: #fff;
$white-bg: #fcfeff;

$font-primary: "Cormorant Garamond", sans-serif;
$font-secondary: "Akzidenz Grotesk", sans-serif;
